

 body{
     padding: 30px;
     background-image: url(../Photos/codd.jpg);
     background-size: cover;   }   
 h1{
   color:rgb(152, 210, 250);
        }
 h5{
   color:rgb(152, 210, 250);
        }
 
   