/*  Start  main-act  */
.main-act{
  height: 400px;
  position: relative;
  text-align: center;
  padding: 40px 0;
  margin: 20px 0;
}
.main-act  h3{
  font-size: 40px;
  text-align: left;
}
.main-act  h1{
  font-size: 60px;
  text-align: center;
}
.main-act img{
  padding-top: 20px;
  margin-top: 20px;
  width: 90%;
  height: 400px
}
.main-act p{
  font-size: 20px;
  line-height: normal;
  padding-top: 20px;
  margin-top: 20px;
}
.main-act .slid >div{
  display: none;
}
.main-act .slider .act{
  display: block;
  width: 100%;
  height: 100%;
}
/*  End  main-act  */
#go-top{
  width: 60px;
  height: 60px;
border-radius: 55%;
  background-color: #3333ff;
  color:#d9d9d9;
  text-align: center;
  right: 15px;
  bottom: 8px;
  position: fixed;
  z-index: 9999;
display: none;
cursor: pointer;
}
#go-top:hover {
  background-color:#8000ff;
}
#go-top.show {
}
#go-top i.fa {
  font-size: 40px;
}
